div {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    display: block;
    /* May help if SVG is not aligning center */
    margin: auto;
    /* Helps center the SVG if flex properties don't work as intended */
    background-color: #f9f9f9;
    /* Optional: to make it easier to see the SVG bounds */
    border: 1px solid #ccc;
    /* Optional: to see the SVG boundaries */
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* or however tall you want it to be */
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}